You got a new order from <%= "@order.name" %>!
===============================================

Order Details:
--------------------------

Name: <%= "hola" %>
Email: <%= "@order.email" %>
Address: <%= "@order.address" %>
Phone: <%= "@order.phone" %>

Message:
<%= "@order.message" %>